.form-container {
        width: 450px;
        text-align: center;
        color: rgb(33, 33, 71);
        background: #d3d5dc;
        font-family: 'Times New Roman', Times, serif;
        padding: 25px;
        margin: 40px auto;
        border-radius: 14px;
        box-shadow: 0 0px 30px rgba(37, 47, 118, 0.2);
    }

    .input-field input {
        margin-bottom: 15px;
        box-sizing: border-box;
        
    }

    .input-field label {
      
        font-weight: bold;
        
    }

.submit-btn {
width: 100%;
text-align:center;
padding: 12px;
background: #183663;
color: white;
border-radius: 5px;
font-size: 16px;
}
